.button {
    padding: 10px 25px;
    float: right;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button:hover {
    background-color: #555555;
    color: white;
}

#modal-window {
    width: 240px;
    height: auto;
    float: right;
    text-align: center;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    color: black;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
}

#modal-window p {
    color: black;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.05);
    padding: 5px;
}

#modal-window p:hover {
    background: dimgray;
    cursor: pointer;
}

#modal-window h4:hover {
    background: gray;
    color: white;
    cursor: pointer;
}

#filters_container {
    float: right;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

